<div class="project">
  <h3><a href="projects/work_ghostwork_is_self_actualization.html">Ghostwork Is Self Actualization</a></h3>
  <div><strong>Year:</strong> 2025</div>
  <div><strong>Description:</strong> A project exploring themes of digital labor, automation, and the intersection of human and machine work.</div>
  <a href="projects/work_ghostwork_is_self_actualization.html">
    <img src="media/images/ghostwork/main.JPG" alt="Ghostwork Is Self Actualization">
  </a>
</div>

<div class="project">
  <h3><a href="../projects/work_seeds.html">Para-Seedlings</a></h3>
  <div><strong>Year:</strong> 2024</div>
  <div><strong>Description:</strong> 3-channel Video and Sound Installation: Wood box, Speaker Surface Transducer, Packet of Winter Melon Seeds, Sunflower Seeds, Melon Seeds, Assorted Beans. Stable Diffusion - LORA on custom dataset.</div>
  <a href="../projects/work_seeds.html">
    <img src="../media/images/seeds/seeds.gif" alt="Para-Seedlings">
  </a>
</div>

<div class="project">
  <h3><a href="../projects/work_banana_clouds.html">Banana Clouds</a></h3>
  <div><strong>Year:</strong> 2024</div>
  <div><strong>Description:</strong> A short film where the story is told and retold by both human and machine voices, creating a surreal narrative that asks: what happens to our personal memories when their gaps are filled with collective hallucinations and standardized data?</div>
  <a href="../projects/work_banana_clouds.html">
    <img src="../media/images/banana_clouds/opera_banana.jpg" alt="Banana Clouds">
  </a>
</div>

<div class="project">
  <h3><a href="../projects/work_flow_and_oscillations.html">Flow and Oscillations</a></h3>
  <div><strong>Year:</strong> 2024</div>
  <div><strong>Description:</strong> Performance and installation as part of The Residency Project, Pasadena, CA. 8.1 channel Sound and Media Installation. 8 surface transducers, 1 bass shaker, projection mapping, tubes, bubbles, and motors.</div>
  <a href="https://vimeo.com/1089568006?share=copy" target="_blank" rel="noopener">
    <img src="../media/images/flow_and_oscillations_thumbnail.png" alt="Flow and Oscillations">
  </a>
</div>


<div class="project">
  <h3><a href="../projects/work_void.html">虚无v7.0 (VOID)</a></h3>
  <div><strong>Year:</strong> 2016</div>
  <div><strong>Description:</strong> 18 channel speaker array inside a shipping container, Laser Projection</div>
  <a href="../projects/work_void.html">
    <img src="../media/images/VOID.png" alt="VOID">
  </a>
</div>

<div class="project">
    <h3><a href="../projects/work_audio_visual_experiments.html">Audio Visual Experiments</a></h3>
    <div><strong>Description:</strong> Audio Visual Experiments</div>
    <a href="../projects/work_audio_visual_experiments.html">
        <img src="../media/images/sound_image.gif" alt="Audio Visual Experiments">
    </a>
</div>

<div class="project">
    <h3><a href="../projects/work_bridge_made_of_ashes.html">Bridge Made of Ashes</a></h3>
    <div><strong>Description:</strong> Bridge Made of Ashes</div>
    <a href="../projects/work_bridge_made_of_ashes.html">
        <img src="../media/images/bridge_gif.gif" alt="Bridge Made of Ashes">
    </a>
</div>

<!-- <div class="project">
    <h3><a href="../projects/work_swarm.html">Swarm: Movement For Bodies and Strings</a></h3>
    <div><strong>Year:</strong> 2019</div>
    <div><strong>Description:</strong> Swarm: Collaborative Instrument and Installation with Josh Ezra Breen Tucci (2019). Swarm is an audio-visual instrument consisting of a series of 8 stringed instruments that evokes the droning sounds of a metallic swarm. The instruments are tuned at different dissonant intervals and are controlled by a distance sensor and Arduino. The position of the body is tracked in space to correspond to the position of the real-time generative visuals.</div>
    <a href="../projects/work_swarm.html">
      <img src="../media/images/swarm.png" alt="Swarm">
    </a>
  </div> -->

<div class="project">
    <h3><a href="../projects/work_emerald_teeth.html">Emerald Teeth</a></h3>
    <div><strong>Description:</strong> Emerald Teeth</div>
    <a href="../projects/work_emerald_teeth.html">
        <img src="../media/images/emerald_teeth.gif" alt="Emerald Teeth">
    </a>
</div>

<div class="project">
  <h3><a href="../projects/work_early_stylegan_ai_experiments_2018_2021.html">Early StyleGAN AI Experiments 2018-2021</a></h3>
  <div><strong>Description:</strong> A collection of early experiments using StyleGAN and AI generative techniques, including Eat Broadcast Erase, Blue Marbles, and Reverberations.</div>
  <a href="../projects/work_early_stylegan_ai_experiments_2018_2021.html">
    <img src="../media/images/chi-bo_mari.png" alt="Early StyleGAN AI Experiments">
  </a>
</div> 