<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <div class="row">
            <div class="text-left mt-4 ml-auto">
                <p class="lead">
                    I'm Kai-Luen Liang. I am an interdisciplinary artist, creative technologist, and educator working across a variety of digital media, found sound, and electronics.<br><br>
                    I am currently faculty at the Center For Integrated Media as well as Music Technology at the California Institute of the Arts. I also teach Music and Artificial Intelligence at Occidental College.<br><br>
                    <i><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="bio.html">A more detailed bio/cv here</a></i>
                </p>
            </div>
        </div>
    </div>
</section>
