<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Portfolio Item: Swarm -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal11">
                    <div class="img-text-centered">Swarm</div>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/swarm.png" alt="Swarm Image" />
                </div>
            </div>

            <!-- Portfolio Item: VOID -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal23">
                    <div class="img-text-centered">虚无v7.0 (VOID)</div>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/VOID.png" alt="VOID Image" />
                </div>
            </div>

            <!-- Portfolio Item: Audio Visual Experiments -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                    <div class="img-text-centered">Audio Visual Experiments</div>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/sound_image.gif" alt="Audio Visual Image" />
                </div>
            </div>

            <!-- Portfolio Item: Bridge Made of Ashes -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
                    <div class="img-text-centered">Bridge Made of Ashes</div>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/bridge_gif.gif" alt="Bridge Made of Ashes Image" />
                </div>
            </div>

            <!-- Portfolio Item: Reverberations -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal8">
                    <div class="img-text-centered">Reverberations</div>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/reverberations.png" alt="Reverberations Image" />
                </div>
            </div>

            <!-- Portfolio Item: Blue Marbles -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                    <div class="img-text-centered">Blue Marbles</div>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/blue_marbles.gif" alt="Blue Marbles Image" />
                </div>
            </div>

            <!-- Portfolio Item: Flag ASMR -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                    <div class="img-text-centered">Flag ASMR</div>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/flag_asmr.png" alt="Flag ASMR Image" />
                </div>
            </div>

            <!-- Portfolio Item: Eat Broadcast Erase -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                    <div class="img-text-centered">Eat Broadcast Erase</div>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/chi-bo_mari.png" alt="Eat Broadcast Erase Image" />
                </div>
            </div>

            <!-- Portfolio Item: Emerald Teeth -->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                    <div class="img-text-centered">Emerald Teeth</div>
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="assets/img/emerald_teeth.gif" alt="Emerald Teeth Image" />
                </div>
            </div>
        </div>
    </div>
</section>
